@use "../../common//variables" as v;

.containerNavBar {
    display: flex;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #ddd;
    align-items: center;

    .bgGradient {
        background: v.$bg-gradient;
    }

    .leftSide {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 0 20px;

        .title {
            font-weight: 800;
            font-size: 26px;
        }
    }
    .rightSide {
        padding: 0 20px;
        flex: 3;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        .me {
            display: flex;
            align-items: center;
            gap: 10px;

            .avatar {
                border: none;
            }

            .name {
                display: flex;
                flex-direction: column;
                gap: 5px;
                .username {
                    font-size: 16px;
                    font-weight: 600;
                }

                .status {
                    font-size: 11px;
                    color: v.$bg-color-dense;
                }
            }
        }

        .group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: v.$bg-color-dense;
            height: 100%;

            gap: 20px;

            .groupAvatar {
                padding-right: 10px;
            }

            .divider {
                height: 30px;
                width: 1px;
                background-color: #ddd;
                color: #ddd;
            }

            .features {
                padding-left: 10px;
                display: flex;
                gap: 20px;
                justify-content: space-between;
            }
        }
    }
}
