@use "../../common/variables" as v;
.bgGradient {
    background: v.$bg-gradient;
}

.wrapper {
    // max-width: 800px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    max-width: 80%;

    .avatar {
        flex-shrink: 0;
    }

    .messageContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .messageContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 13px;
            padding: 10px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 0px 10px 10px 10px;

            .username {
                color: v.$color-gray;
            }

            .message {
                line-height: 1.6;
            }
        }

        .time {
            margin: 3px;
            font-size: 12px;
            color: v.$color-gray;
        }
    }

    &.owner {
        flex-direction: row-reverse;
        align-self: flex-end;

        .messageContentContainer {
            align-items: flex-end;
            .messageContent {
                background: rgb(34, 193, 195);
                background: linear-gradient(
                    0deg,
                    rgba(34, 193, 195, 1) 0%,
                    rgba(167, 45, 253, 1) 100%
                );
                border-radius: 10px 0px 10px 10px;
                align-items: flex-end;

                .username {
                    color: rgba(255, 255, 255, 0.505);
                }

                .message {
                    color: white;
                    line-height: 1.6;
                }
            }
        }
    }
}
